ul.author-info
			li.author-avatar
				img(src=site.admin_avatar, class='avatar' , width=26 )
			li.author-name=	site.configs.admin_name
		p(style="font-size:16px;") I'm convinced that the only thing that keep me going was that i loved what i did.
		p: a(href="/about",target="_blank",style="font-size:16px;") More About Me