extends base.jade

block search

block title
	title= '去实现，当年的想法！'

block menu

block scream

block content

	.main(style="margin:60px auto 200px auto;text-align: center;")
		.content-tibet(style="margin-bottom:40px;")
			h1 去实现，当年的想法！
			p 2,353公里，就在脚下
		.img-tibet(style="margin:20px")
			img(src="/template/Tibet.png",width="100%")
			p 成都→西藏

