- var r_url = request.url_root
p.comment-smilies
	img(src="/template/include/smilies/mrgreen.gif")
	img(src="/template/include/smilies/neutral.gif")
	img(src="/template/include/smilies/twisted.gif")
	img(src="/template/include/smilies/arrow.gif")
	img(src="/template/include/smilies/eek.gif")
	img(src="/template/include/smilies/smile.gif")
	img(src="/template/include/smilies/confused.gif")
	img(src="/template/include/smilies/cool.gif")
	img(src="/template/include/smilies/evil.gif")
	img(src="/template/include/smilies/biggrin.gif")
	img(src="/template/include/smilies/idea.gif")
	img(src="/template/include/smilies/redface.gif")
	img(src="/template/include/smilies/razz.gif")
	img(src="/template/include/smilies/rolleyes.gif")
	img(src="/template/include/smilies/wink.gif")
	img(src="/template/include/smilies/cry.gif")
	img(src="/template/include/smilies/surprised.gif")
	img(src="/template/include/smilies/lol.gif")
	img(src="/template/include/smilies/mad.gif")
	img(src="/template/include/smilies/sad.gif")
	img(src="/template/include/smilies/exclaim.gif")
	img(src="/template/include/smilies/question.gif")